<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/onepage-scroll.min.css">
  <link rel="stylesheet" type="text/css" href="../pages/index.css">
  <title>Forma</title>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="page">
<section class="contacts">
  <img class="contacts__logo" src="../images/logo_color.png">
  <div class="contacts__container">
    <div class="contacts__info contacts__directions">
      <a class="contacts__content">Адрес</a>
      <a class="contacts__content">Телефон</a>
      <a class="contacts__content">Почта</a>
      <a class="contacts__content margin_zero">Соц.сети</a>
    </div>
    <div class="contacts__info contacts__phone">
      <a class="contacts__content margin" target="_blank" href="https://goo.gl/maps/wjVC4QQAKNvAZ81n9">Москва, Россия, 123423<br>
        ул. Народного ополчения 34с1, офис 313</a>
      <a class="contacts__content" href="tel:+79999846977">+7(999)984-69-77</a>
      <a class="contacts__content" href="mailto:info@formagc.ru">info@formagc.ru</a>
      <div>
        <a target="_blank" href="#"><img class="project__icon" src="../images/telegram.svg"></a>
      </div>
    </div>
   </div>
  <div class="contacts__links">
    <a class="contacts__link">Forma &#169; 2022</a>
    <a class="contacts__link" href="index.html">Продукция</a>
    <a class="contacts__link" href="about.html">О нас</a>
    <a class="contacts__link" target="_blank" href="https://www.selesta.me/">by Selesta</a>
  </div>
</section>
</body>
</html>